{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@sliit-foss/eslint-config-internal",
    "turbo"
  ],
  "env": {
    "browser": false,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "no-sparse-arrays": "off",
    "newline-per-chained-call": "off",
    "turbo/no-undeclared-env-vars": "off"
  }
}